@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

*{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
  font-family: 'Barlow', serif;
}

ul li{
  margin-right: 1rem;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}


   

.img-cont{
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  height: 500px;
}

.img-title{
  font-family: 'Fraunces', serif;
  text-align: center;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.nav-cont{
  position: relative;
  width: auto;
}

.nav-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}

.nav-list{
  color: white;
  display: flex;
  
}

.nav-list < a {
  margin-right: 1.5rem;
}

.contact-cont{
  background-color: white;
  border-radius: 15px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  margin-right: 1rem;
}

.contact-cont a{
  margin-left: 1rem;
  color: hsl(167, 40%, 24%);
}
.sunny{
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 1rem;
  font-family: 'Barlow', serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}
